@font-face {font-family: "iconfont";
  src: url('../fonts/font_1191451_h720mljzrsc.eot'); /* IE9 */
  src: url('../fonts/font_1191451_h720mljzrsc.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cffcf087bcfd4b1185cf940cbe3d839e.woff') format('woff2'),
  url('../fonts/font_1191451_h720mljzrsc.woff') format('woff'),
  url('../fonts/font_1191451_h720mljzrsc.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/font_1191451_h720mljzrsc.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e609";
}

.icon-user:before {
  content: "\e6a5";
}

.icon-password:before {
  content: "\e6a6";
}

.icon-logo:before {
  content: "\e6df";
}

.icon-all:before {
  content: "\e6fb";
}

.icon-shop:before {
  content: "\e6fe";
}

.icon-search:before {
  content: "\e6ff";
}

.icon-up-bracket:before {
  content: "\e70d";
}

.icon-down-bracket:before {
  content: "\e70e";
}

.icon-left-arrow:before {
  content: "\e711";
}

.icon-down-arrow:before {
  content: "\e712";
}

.icon-right-arrow:before {
  content: "\e713";
}

.icon-up-arrow:before {
  content: "\e714";
}

.icon-right-bracket:before {
  content: "\e716";
}

.icon-left-bracket:before {
  content: "\e600";
}

.icon-correct:before {
  content: "\e70f";
}

.icon-ios-add:before {
  content: "\e710";
}

.icon-delete:before {
  content: "\e715";
}

.icon-circle-delete:before {
  content: "\e717";
}

.icon-enlarge:before {
  content: "\e719";
}

.icon-lower-shelf:before {
  content: "\e71a";
}

.icon-upper-shelf:before {
  content: "\e71b";
}

.icon-download:before {
  content: "\e71c";
}

.icon-reverse-order-singer:before {
  content: "\e71d";
}

.icon-error-circle:before {
  content: "\e71e";
}

.icon-positive-sequence-single:before {
  content: "\e71f";
}

.icon-edit:before {
  content: "\e720";
}

.icon-reverse-order:before {
  content: "\e721";
}

.icon-positive-sequence:before {
  content: "\e722";
}

.icon-success-circle:before {
  content: "\e723";
}

.icon-more:before {
  content: "\e724";
}

.icon-add:before {
  content: "\e725";
}

.icon-upload:before {
  content: "\e726";
}

.icon-ios-delete:before {
  content: "\e727";
}

.icon-success:before {
  content: "\e728";
}

.icon-warning:before {
  content: "\e729";
}

.icon-error:before {
  content: "\e72a";
}

.icon-info:before {
  content: "\e72b";
}

.icon-narrow-circle:before {
  content: "\e718";
}

.icon-enlarge-circle:before {
  content: "\e72c";
}

.icon-time:before {
  content: "\e72d";
}

.icon-date:before {
  content: "\e72e";
}

.icon-loading:before {
  content: "\e72f";
}

.icon-right:before {
  content: "\e730";
}

.icon-left-circle:before {
  content: "\e731";
}

.icon-up-circle:before {
  content: "\e732";
}

.icon-down-circle:before {
  content: "\e733";
}

.icon-double-left:before {
  content: "\e734";
}

.icon-double-right:before {
  content: "\e735";
}

.icon--:before {
  content: "\e736";
}

.icon-more1:before {
  content: "\e601";
}

